.secao_sobre {
  background-color: #F8F7FF;
  padding: 100px 20px;
  text-align: center;

  display: flex;
  justify-content: center;
}

.limitar_secao {
  width: 1024px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.limitar_secao p {
  line-height: 32px;
}

.container_cards {
   display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.imagem_sobre,
.card_texto {
  width: 50%;
  border: 1px solid #a2adad;
  max-height: 300px;
}

.imagem_sobre {
  object-fit: cover;
}

.card_texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 25px;
  background-color: #fff;
}

.card_texto h4 {
  font-size: 36px;
  text-transform: uppercase;
  font-family: 'Anybody', cursive;
  line-height: 42px;
  letter-spacing: 5px;
}

.card_texto p {
  font-size: 22px;
  color: #4a4a4a;
}

@media (max-width: 768px) {
  .secao_sobre {
    padding: 60px 20px;
  }

  .card_texto {
    padding: 15px;
  }
  .card_texto h4 {
    font-size: 22px;
  }
  .card_texto p {
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  .secao_sobre {
    padding: 60px 10px;
  }
  .container_cards {
    flex-direction: column;
  }
  .imagem_sobre,
  .card_texto {
    width: 100%;
    height: 300px;
  }

}