.secao_produtos {
  width: 100%;
  padding: 100px 20px;
  text-align: center;

  display: flex;
  justify-content: center;
}

.limitar_secao {
  width: 1024px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_produtos_card {
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  background-color: #F6F6F6;
  width: calc(50% - 15px);
  margin: 0 0 20px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card h4 {
  margin: 0;
  font-size: 32px;
}

.img_card {
  width: 80%;
  max-height: 150px;
  object-fit: contain;
  margin: 30px 0;
}

.card p {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
}

.secao_produtos ul {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secao_produtos li {
  text-align: left;
  margin: 5px;
}

@media (max-width: 768px) {
  .secao_produtos {
    padding: 60px 20px;
  }
  .card h4 {
    font-size: 22px;
  }
  .img_card {
    max-height: 100px;
  }
  .card p{
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  .secao_produtos {
    padding: 60px 10px;
  }
  .card {
    width: 100%;
  }
  .secao_produtos ul {
    align-items: flex-start;
  }
}