:root { /*Cores do projeto*/
  --primeira_cor: #fff;
  --segunda_cor: #F8F7FF;
  --terceira_cor: #F6F6F6;
  --quarta_cor: #C4C4C4;
  --quinta_cor: #4A4A4A;
  --sexta_cor: #000000;
  --setima_cor: #05031B;
}